* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
}

input {
  outline: none;
  
}

a{
  text-decoration: none;
  color: inherit;
  
}

img {
  max-width: 100%;
  height: auto;
}
