:root{
    --card: hsl(0, 0%, 100%);
    --bg: hsl(0, 0%, 94%);
    --borders: hsl(0, 0%, 86%);
    --fs-01: hsl(0, 1%, 44%);
    --hover: hsl(0, 0%, 8%);
    --fs-02: hsl(259, 100%, 65%);
    --error: hsl(0, 100%, 67%);
}